<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <bean id="core.web.controller.SystemJreportManagementAction" 
    	class="com.netsteadfast.greenstep.action.SystemJreportManagementAction" scope="prototype" />
    <bean id="core.web.controller.SystemJreportManagementGridQueryAction" 
    	class="com.netsteadfast.greenstep.action.SystemJreportManagementGridQueryAction" scope="prototype" />
    <bean id="core.web.controller.SystemJreportSaveOrUpdateAction" 
    	class="com.netsteadfast.greenstep.action.SystemJreportSaveOrUpdateAction" scope="prototype" />
    	    	    
</beans>
