<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">   
    
	<bean id="hessian.config" class="java.util.HashMap" scope="singleton" >
		<constructor-arg>
			<map>
				<!-- 預設要檢查http request header 中的 check value 資料 -->
				<entry key="configHessianHeaderCheckValueModeEnable"		value="Y" />
				<!-- 預設的 hession 服務子位址, 必須與 web.xml 設定一致 -->
				<entry key="configHessianUrlPattern"	value="/hessian/" />
				<!-- 預設的 hession 服務擴展名, 必須與 Hessian-servlet.xml 設定一致 -->
				<entry key="configHessianExtensionName"	value=".hessian" />
				<entry key="enable" 					value="${hessian.enable}" />
				<entry key="serverUrl" 					value="${hessian.serverUrl}" />
				<entry key="checkValue" 				value="${hessian.checkValue}" />
				<!-- This is a Example , The SYSTEM no bean named PlayHelloWorldService and TestHelloWorldService -->
			    <entry key="proxyServiceId">
			        <value>
			        
			        core.service.PlayHelloWorldService, 
			        core.service.TestHelloWorldService
			        
			        </value>
			    </entry>
			    <!-- This is a Example , cannot use Hessian remote service proxy user account -->
			    <entry key="proxyBlockedAccountId">
			    	<value>
			    	
			    	admin,
			    	system
			    	
			    	</value>
			    </entry>
			</map>
		</constructor-arg>
    </bean>
    
</beans>