*.js linguist-vendored=false
*.htm linguist-vendored=false
*.html linguist-vendored=false
*.css linguist-vendored=false
*.txt linguist-vendored=false
*.bak linguist-vendored=false
*.png linguist-vendored=false
*.jpg linguist-vendored=false
*.php linguist-vendored=false
*.properties linguist-vendored=false
*.js linguist-language=Java
*.htm linguist-language=Java
*.html linguist-language=Java
*.css linguist-language=Java
*.txt linguist-language=Java
*.bak linguist-language=Java
*.properties linguist-language=Java
*.js linguist-documentation=false
*.htm linguist-documentation=false
*.html linguist-documentation=false
*.css linguist-documentation=false
*.txt linguist-documentation=false
*.bak linguist-documentation=false
*.png linguist-documentation=false
*.jpg linguist-documentation=false
*.php linguist-documentation=false
*.properties linguist-documentation=false
