*.js linguist-vendored=false
*.htm linguist-vendored=false
*.html linguist-vendored=false
*.css linguist-vendored=false
*.txt linguist-vendored=false
*.bak linguist-vendored=false
*.png linguist-vendored=false
*.jpg linguist-vendored=false
*.js linguist-language=Java
*.htm linguist-language=Java
*.html linguist-language=Java
*.css linguist-language=Java
*.txt linguist-language=Java
*.bak linguist-language=Java
