<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <bean id="bsc.web.controller.PerspectivesDashboardAction" 
    	class="com.netsteadfast.greenstep.bsc.action.PerspectivesDashboardAction" scope="prototype" />
    <bean id="bsc.web.controller.ObjectivesDashboardAction" 
    	class="com.netsteadfast.greenstep.bsc.action.ObjectivesDashboardAction" scope="prototype" />
    <bean id="bsc.web.controller.KpisDashboardAction" 
    	class="com.netsteadfast.greenstep.bsc.action.KpisDashboardAction" scope="prototype" />
    <bean id="bsc.web.controller.DashboardNewAction" 
    	class="com.netsteadfast.greenstep.bsc.action.DashboardNewAction" scope="prototype" />
    	    	    	    	    	    	    	    	    	    	
</beans>
