<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <!-- interceptor -->        
    <import resource="classpath*:applicationContext/controller/applicationContext-interceptors-web.xml" />  
    
    <!-- action -->    
    <import resource="classpath*:applicationContext/controller/applicationContext-employee-web.xml" />  
    <import resource="classpath*:applicationContext/controller/applicationContext-organization-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-common-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-vision-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-perspective-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-objective-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-formula-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-kpi-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-measureData-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-weight-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-scoreColor-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-reportProperty-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-report-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-strategyMap-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-swot-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-workspaceSettings-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-aggregationMethod-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-reportRoleView-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-dashboard-web.xml" />    
    <import resource="classpath*:applicationContext/controller/applicationContext-degreeFeedbackProject-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-pdca-web.xml" />
    <import resource="classpath*:applicationContext/controller/applicationContext-tsa-web.xml" />
    
    
    <!-- Apache CXF WEB Service BEANS -->
    <import resource="classpath*:applicationContext/applicationContext-STANDARD-CXF.xml" />
        
    <!-- apache camel -->
    <import resource="classpath*:applicationContext/applicationContext-STANDARD-ESB.xml" />
    
</beans>
