<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <bean id="qcharts.web.controller.CommonLoadDataAction" 
    	class="com.netsteadfast.greenstep.qcharts.action.CommonLoadDataAction" scope="prototype" />
    	    	    
    <!-- 每個系統都要加上這個action -->
    <bean id="core.web.controller.CommonLoadFormAction" class="com.netsteadfast.greenstep.action.CommonLoadFormAction" scope="prototype" />
    
    <bean id="core.web.controller.CommonBarChartAction" class="com.netsteadfast.greenstep.action.CommonBarChartAction" scope="prototype" />
    <bean id="core.web.controller.CommonPieChartAction" class="com.netsteadfast.greenstep.action.CommonPieChartAction" scope="prototype" />
    <bean id="core.web.controller.CommonMeterChartAction" class="com.netsteadfast.greenstep.action.CommonMeterChartAction" scope="prototype" />
    
    <bean id="core.web.controller.CommonPrintContentAction" class="com.netsteadfast.greenstep.action.CommonPrintContentAction" scope="prototype" />
    
    <bean id="core.web.controller.CommonTestAction" class="com.netsteadfast.greenstep.action.CommonTestAction" scope="prototype" />
    
</beans>
