<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    	<property name="host" 				value="${mail.host}"/>
		<property name="port" 				value="${mail.port}" />
		<property name="protocol" 			value="smtp" />
		<property name="defaultEncoding" 	value="UTF-8" />
		<property name="username" 			value="${mail.username}" />
		<property name="password" 			value="${mail.password}" />
		
		<property name="javaMailProperties">
	   		<props>
	   			<prop key="mail.transport.protocol">smtp</prop>
	   			<prop key="mail.smtp.auth">true</prop>
	   			<prop key="mail.smtp.starttls.enable">false</prop> <!-- 不使用 TLS 的設定 -->
	   			<prop key="mail.debug">true</prop>
       	   	</props>
		</property>		    	
		
    </bean>
                            
</beans> 