<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:amq="http://activemq.apache.org/schema/core"
    xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">
    
    <!-- a pooling based JMS provider -->
    <!-- 
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
    	<property name="connectionFactory">
    		<bean class="org.apache.activemq.ActiveMQConnectionFactory">
    			<property name="brokerURL" value="tcp://localhost:61616" />
    			<property name="userName" value="system"/>
    			<property name="password" value="manager"/>    			
    		</bean>
    	</property>
    </bean>
    -->
    
    <!--  Default Destination Queue Definition-->
    <!--  
    <bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
    	<constructor-arg index="0" value="test_mqQueue"/>
    </bean>
    -->
    
    <!-- Spring JMS Template -->
    <!--
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    	<property name="connectionFactory" ref="jmsFactory" />
    	<property name="defaultDestination" ref="defaultDestination" />
    </bean>
    -->
    
    <!-- Message Receiver Definition -->
    <!--
    <bean id="testMessageReceiver" class="test.TestReceiverJMS">
    </bean>
    -->
    
    <!--    
    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="jmsFactory" />
        <property name="destinationName" value="test_mqQueue" />
        <property name="messageListener" ref="testMessageReceiver" />
    </bean>    
    -->
    
</beans>    
