<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozer.sourceforge.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net
	http://dozer.sourceforge.net/schema/beanmapping.xsd">
	
	<mapping map-id="dataQueryMapper.po2vo" >
		<class-a>com.netsteadfast.greenstep.po.hbm.QcDataQueryMapper</class-a>
		<class-b>com.netsteadfast.greenstep.vo.DataQueryMapperVO</class-b>
		<field>
			<a>oid</a>
			<b>oid</b>
		</field>
		<field>
			<a>name</a>
			<b>name</b>
		</field>	
		<field>
			<a>description</a>
			<b>description</b>
		</field>												
	</mapping>

	<mapping map-id="dataQueryMapper.vo2po" >
		<class-a>com.netsteadfast.greenstep.vo.DataQueryMapperVO</class-a>
		<class-b>com.netsteadfast.greenstep.po.hbm.QcDataQueryMapper</class-b>
		<field>
			<a>oid</a>
			<b>oid</b>
		</field>
		<field>
			<a>name</a>
			<b>name</b>
		</field>	
		<field>
			<a>description</a>
			<b>description</b>
		</field>		
	</mapping>
	
</mappings>
