<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    
    <context:annotation-config />
    
    <!--
    放在CORE的 JOB 要能在 CORE, GSBSC 兩個區域都能跑,
    如果只能在 GSBSC 跑, 卻無法在CORE跑  那請把
    applicationContext-STANDARD-QUARTZ.xml 與 applicationContext-STANDARD-QUARTZ-JOB.xml 移動至 GSBSC 項目中 
    
    2015-06-26
    將quartz設定檔從 core-base 移至  core-web, gsbsc-web, qcharts-web, gsbsc-mobile-web , 且只有 core-web 有開啟 Job 其餘設定檔內容都是空的
    
    2016-10-03
    為了在個系統 core-web, gsbsc-web, qcharts-web 增加 SysExpressionJob , 所以每個系統都開啟Quartz了
     -->
     
	<!-- Scheduler -->		
   	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" destroy-method="destroy">
    	<property name="applicationContextSchedulerContextKey" value="applicationContext" />    	     
    	<property name="dataSource" ref="dataSource"/> 
    	<property name="transactionManager" ref="transactionManager"/>        
    	<property name="overwriteExistingJobs" value="true"/>        
    	<property name="autoStartup" value="true" />        	
		<property name="triggers">
	    	<list>
				<ref bean="qcharts.job.SysExpressionJobCronTrigger" />
	    	</list>
		</property>
    	<property name="quartzProperties">            
    		<props>
    			<!-- 
    			如果開啟 instanceName 設定, 就不需要設定不同的 tablePrefix 給 GSBSC, QCHARTS, 
    			但是考慮系統會再多台Server上佈署, 所以會有多個 CORE, GSBSC, QCHARTS 同時執行的可能,
    			為了清楚的切開資訊, 目前比較傾向使用不同的  tablePrefix
    			-->    		
    			<!-- 
    			<prop key="org.quartz.scheduler.instanceName">QuartzSchedulerQCHARTS</prop>
    			-->
    			<prop key="org.quartz.scheduler.instanceId">AUTO</prop>        
    			<prop key="org.quartz.jobStore.misfireThreshold">60000</prop>                
    			<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>		               
    			<prop key="org.quartz.jobStore.tablePrefix">qrtz_z_qcharts_</prop>                
    			<prop key="org.quartz.jobStore.isClustered">true</prop>                
    			<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>                
    			<prop key="org.quartz.threadPool.threadCount">8</prop>                
    			<prop key="org.quartz.threadPool.threadPriority">5</prop>            
    			<prop key="org.quartz.scheduler.skipUpdateCheck">true</prop>
    		</props>      
    	</property> 			
   	</bean>        
	     		
</beans>
