
.pv-table {
	width: 100%;	
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;    
}

.pv-corner {
	background-color: #F8F8F8;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;	
	padding: 1px;
}

.pv-col-hdr {
	background-color: #FAFAFA;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;	
    text-align:center;
    padding:4px 10px;
}

.pv-row-hdr {
	background-color: #FAFAFA;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;	
    text-align: left;
    padding:2px 5px;
}

.pv-cell {
	background-color: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: #F2F2F2;
    padding:4px 10px;
}
